<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item-divider color="dark">
    Informe seu peso e sua altura:
  </ion-item-divider>
  <ion-item>
    <ion-label color="primary" floating>Peso</ion-label>
    <ion-input [(ngModel)]="peso"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" floating>Altura</ion-label>
    <ion-input [(ngModel)]="altura"></ion-input>
  </ion-item>

  <button ion-button full color="success" (click)="calculoIMC()">Calcular</button>

  <ion-item-divider color="Dark">
    Resultado:
    <ion-item>{{resultado}}</ion-item>
    <ion-item>{{calculo}}</ion-item>
  </ion-item-divider>

</ion-content>
